body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    max-width: 450px;
    padding: 40px;
    background: #0c0c0c;
    text-align: center;
    transition: 0.25s;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px
}
.box-settings {
    max-width: 400px;
    padding: 40px;
    background: #5d5d5d;
    text-align: center;
    transition: 0.25s;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #335f3c;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

#bio-save, #email-save, #pass-save, #photo-save {
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #5facff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#bio-save:hover, #email-save:hover, #pass-save:hover, #photo-save:hover {
    background: #778da5;
}
.form-container .box form img {
    height: 180px;
    width: 150px;
    border-radius: 50%;
}

#button-no, #button-yes {
    background: none;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #5facff;
    padding: 5px 15px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}
#button-yes:hover, #button-no:hover {
    background-color: #778da5;
}
#bio-textarea {
    margin-bottom: 10px;
}
.register-date {
    margin-bottom: 20px;
}

.box input[type="submit"]:hover {
    background: #335f3c
}
#formHeader {
    font-size: 20px;
}
.formText {
    font-size: 18px;
}

.form-container {
    text-align: -webkit-center;
    text-align: -moz-center;
}
.form-control:focus {
    box-shadow: none;
}

.form-control-file {
    margin: 10px auto;
}

.forgot {
    text-decoration: underline
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#disable-link {
    color: #007bff;
    cursor: pointer;
}
#disable-content {
    display: none;
}

.fa-user,
.fa-key,
.fa-envelope {
    color: #6c757d;
}

.error-field {color: #ff6f6f}

.fail-email, .notValid-email, .fail-pass, .notValid-pass, .notMatch-pass, .fail-bio {
    color: #a50d0d;
    display: none;
}
.success-email, .success-pass, .success-bio, .success-field {
    color: #033103;
    display: none;
}

.footer {
    text-align: center;
}
