<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headfragment (pageTitle = 'Social Blog - Login')"></head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #fff;">
            <a class="navbar-brand" href="/">Social Blog</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </nav>
        <div class="form-container">
            <form class="box" th:action="${param.path} ? '/login?path=' + ${param.path} : '/login'" method="post">
                <p class="text-muted" id="formHeader"><b>Login</b></p>
                <p class="text-muted"> Please enter your username and password!</p>
                <div th:switch="${message}">
                    <p th:case = 0 class="error-field">Invalid username or password!</p>
                </div>
                <span class="icons">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username" autocomplete="off">
                </span>
                <span class="icons">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                </span>
                <a class="forgot text-muted" href="#">Forgot password?</a>
                <input type="submit" value="Login">
                <a href="/register" class="text-muted text-decoration-none">Click to register</a>
            </form>
        </div>
        <footer th:include="footer :: footerfragment" class="footer"></footer>
    </div>
    <div th:replace="footer :: scriptfragment"></div>
</body>
</html>