<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headfragment (pageTitle = 'Social Blog - Profile')"></head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #fff;">
            <a class="navbar-brand" href="/">Social Blog</a>
            <ul class="nav justify-content-end">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 15rem;">
                        <img th:if="${userProfilePhoto}" class="card-img-top" th:src="@{'/myimages/' + ${userProfilePhoto}}" alt="Profile Photo">
                        <div class="card-body">
                            <p class="card-title"><strong th:text="${USERNAME}"></strong></p>
                            <p class="card-text" th:text="${userBiography}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row align-items-start">
                        <form class="form-inline" action="/profile" method="post" enctype="multipart/form-data">
                            <input class="form-control mr-sm-2" type="text" placeholder="Write a comment" name="photoComment">
                            <input type="file" name="upload-photo">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Save</button>
                        </form>
                    </div>
                    <div th:text="${fileTypeError}" class="error-field"></div>
                    <div class="row">
                        <div class="card" style="width: 15rem;">
                            <img src="" class="card-img" alt="Photos">
                            <div class="card-body">
                                <p class="card-text">test</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="footer :: scriptfragment"></div>
</body>
</html>