<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfragment (pageTitle = 'Social Blog - Register')"></head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #fff;">
            <a class="navbar-brand" href="/">Social Blog</a>
            <ul class="nav justify-content-end">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </nav>
        <div class="form-container">
            <form class="box" action="/register" method="post" th:object="${theUser}">
                <p class="text-muted" id="formHeader"><b>Register</b></p>
                <div th:switch="${message}">
                    <p th:case = 2 class="error-field">Database Error!</p>
                    <p th:case = 3 class="error-field">Existing username!</p>
                    <p th:case = 4 class="error-field">Existing email!</p>
                </div>
                <span class="icons">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username" autocomplete="off" th:field="*{username}">
                </span>
                <p class="error-field" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <span class="icons">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password" placeholder="Password" autocomplete="off" th:field="*{password}">
                </span>
                <p class="error-field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <span class="icons">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" autocomplete="off" th:field="*{email}">
                </span>
                <p class="error-field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>