<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headfragment (pageTitle = 'Social Blog - Settings')"></head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #fff;">
            <a class="navbar-brand" href="/">Social Blog</a>
            <ul class="nav justify-content-end">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <main>
           <div class="form-container">
                <div class="box box-settings">
                    <form action="/settings" method="post" enctype="multipart/form-data">
                        <p id="formHeader"><b>Settings</b></p>
                        <label class="formText">Choose your profile photo:</label>
                        <input type="file" class="form-control-file" name="profilephoto">
                        <input type="submit" value="Save" id="photo-save">
                    </form>
                    <p class="formText">You can change your biography here.</p>
                    <textarea id="bio-textarea" class="form-control" rows="3" th:text="${userBiography}"></textarea>
                    <div>
                        <p class="success-bio">Biography updated!</p>
                        <p class="fail-bio">Could not update biography, please try again!</p>
                    </div>
                    <span id="bio-save">Save</span>

                    <p class="formText">You can change your email address here.</p>
                    <input type="email" id="email-input" class="form-control" placeholder="Email" th:value="${userEmail}">
                    <div>
                        <p class="fail-email">Could not update email, please try again!</p>
                        <p class="notValid-email">Check your e-mail format!</p>
                        <p class="success-email">Email updated!</p>
                    </div>
                    <span id="email-save">Save</span>

                    <p class="formText">You can change your password here.</p>
                    <input type="password" id="current-pass" class="form-control" placeholder="Current password">
                    <input type="password" id="new-pass" class="form-control" placeholder="New password">
                    <input type="password" id="new-pass-valid" class="form-control" placeholder="New password (again)">
                    <div>
                        <p class="fail-pass">Wrong current password!</p>
                        <p class="notValid-pass">Must be greater than 8 characters without whitespace!</p>
                        <p class="notMatch-pass">Passwords did not match!</p>
                        <p class="success-pass">Password updated!</p>
                    </div>
                    <span id="pass-save">Save</span>
                    <div class="register-date" th:text="|Registered date: ${userTimestamp}|"></div>
                    <span id="disable-link">Disable Account</span>
                    <div id="disable-content">
                        <p class="text-primary">Are you sure you want to disable your account?</p>
                        <span id="button-yes">Yes</span>
                        <span id="button-no">No</span>
                    </div>
                </div>
           </div>
        </main>
    </div>
    <footer class="footer" th:include="footer :: footerfragment"></footer>
    <div th:replace="footer :: scriptfragment"></div>
</body>
</html>